* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background: #DCDCDC;
    margin: 10px 20px;
}

.heading-container {
    width: 400px;
    margin: 16px auto;
    background: #fafafa;
    padding: 25px 10px;
    height: 400px;
}

.heading {
    background: #b2c4bc;
    color: #00000099;
    margin-bottom: 10px;
    padding: 8px;
    text-align: center;
}

.list-container {
    font-size: 30px;
    background: #b2c4bc;
    text-align: center;
    padding: 25px 10px;
    
}

.item {
    list-style: none;
    text-transform: capitalize;
    text-decoration-line: underline;
    color: #000000;
    line-height: 100px;
}